# Banco de dados Supabase (PostgreSQL)
# Substitua pelos dados do seu projeto Supabase
DATABASE_URL=postgresql://postgres.[PROJECT-REF]:[SUA-SENHA]@aws-1-sa-east-1.pooler.supabase.com:6543/postgres
DIRECT_URL=postgresql://postgres.[PROJECT-REF]:[SUA-SENHA]@db.[PROJECT-REF].supabase.co:5432/postgres

# NextAuth
NEXTAUTH_SECRET=gera-uma-chave-secreta-aqui
NEXTAUTH_URL=http://localhost:3000
